<header>
    <nav>
        <div class="logo">
            <p>Sanime</p>
            <i class="fa-solid fa-bars"></i>
        </div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <%if(!locals.user){%>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
            <%}else{%>
                <li><a href="/profile">Profile</a></li> 
                <form action="/logout" method="POST">
                    <button type="submit">logout</button>
                </form>
            <%}%>
        </ul>
    </nav>
    <form id="searchBox" method="GET" action="/get-anime">
        <%if(anime){%>
            <input type="text" id="anime" placeholder="anime.." name="anime" value="<%=anime%>">
        <%}else{%>
            <input type="text" id="anime" placeholder="anime.." name="anime">
        <%}%>
        <button id="button" type="submit">Search</button>
    </form>
</header>